shamefully-hoist=true
public-hoist-pattern=*
node-linker=hoisted

# Include native modules for cross-platform desktop builds
supportedArchitectures:
  os:
    - current
    - win32
  cpu:
    - current
    - x64
